<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- Le styles -->
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
      .sidebar-nav {
          padding: 9px 0;
      }
  </style>

  <!-- include jQuery and jQueryUI libraries -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />

  <!-- initialize -->
  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery(".content").hide();
          //toggle the component with class msg_body
          jQuery(".heading").click(function()
          {
              jQuery(this).next(".content").slideToggle(500);
          });
      });
  </script>
</head>
<body>
<!-- Top Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Social Coding 4 Good</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Super User</a>
        </p>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div>
    </div><!-- /fluid-container -->
  </div> <!-- /inner nav bar -->
</div> <!-- /top nav bar -->

<div class="container-fluid">
  <div class="span4">
    <div class="row volunteer" id="firstName">
      <%= form_tag '/volunteers', :method => :get do %>
          <%= label :name, "Name" %>
          <%= text_field_tag :name %>
          <%= label :email, "Email" %>
          <%= text_field_tag :email %>
          <%= label :company, "Company" %>
          <%= text_field_tag :company %>
          <%= submit_tag 'Filter' %>
    </div>
    </div>
    <div class="row" id="skills_checkboxes">
      <label class="heading"><b><input type="button" value="Skills" id="skills_button"/></b></label>
      <div class="content">
        <ul>
          <%= check_box_tag 'skills[]', 'Experience_Design' %>
          <%= label_tag :skills, "Experience Design" %>
          <%= check_box_tag 'skills[]', 'Product_Management', :id => 'PM1' %>
          <%= label_tag :skills, "Product Management" %>
        </ul>
      </div>
      <% end %>

    </div>

    <div class="row" id="timeToCommit">
      <label class="heading"><b>Time To Commit</b></label>
      <div class="content">
        <ul>
          <input type="radio"> A Few Hours per Week <br>
          <input type="radio"> A Few Hours per Month <br>
          <input type="radio"> 0-8 Hours Total <br>
          <input type="radio"> 20-40 Hours Total <br>
          <input type="radio"> More Than 40 Hours Total <br>
          <input type="radio"> Unknown <br>
        </ul>
      </div>
    </div>
    <div class="row" id="organizationsInterest">
      <label class="heading"><b>HFOSS Organizations Interest</b></label>
      <div class="content">
        <ul>
          <input type="checkbox" id="benetech" /> Benetech <br/>
          <input type="checkbox" id="codeForAmerica" />  Code For America <br/>
          <input type="checkbox" id="frontlineSms" />  FrontlineSMS <br/>
          <input type="checkbox" id="theGuardianProject" />  The Guardian Project <br/>
          <input type="checkbox" id="mozillaWebmaker" />  Mozilla Webmaker <br/>
          <input type="checkbox" id="amara" />  Amara (Universal Subtitles) <br/>
          <input type="checkbox" id="wikimediaFoundation" />  Wikimedia Foundation <br/>
        </ul>
      </div>
    </div>
    <div class="row" id="causesInterest">
      <label class="heading"><b>Causes Interest</b></label>
      <div class="content">
        <ul>
          <input type="checkbox" id="civicEngagement" /> Civic Engagement <br/>
          <input type="checkbox" id="climateChangeMitigation" />  Climate Change Mitigation <br/>
          <input type="checkbox" id="disasterRelief" />  Disaster Relief <br/>
          <input type="checkbox" id="educationAndLiteracy" />  Education and Literacy <br/>
          <input type="checkbox" id="empowermentOfWomen" />  Empowerment of Women <br/>
          <input type="checkbox" id="environmentalAndSpeciesConservation" />  Environmental and Species Conservation <br/>
          <input type="checkbox" id="healthcare" />  Healthcare <br/>
          <input type="checkbox" id="homelessness" />  Homelessness <br/>
          <input type="checkbox" id="humanRights" />  Human Rights <br/>
          <input type="checkbox" id="povertyAlleviation" />  Poverty Alleviation <br/>
          <input type="checkbox" id="selfsufficiencyForPeopleWithDisabilities" />  Self Sufficiency for People with Disabilities <br/>
        </ul>
      </div>
    </div>
    <div class="row" id="programmingLanguagesInterest">
      <label class="heading"><b>Programming Languages Interest</b></label>
      <div class="content">
        <ul>
          <input type="checkbox" id="actionScript" /> ActionScript <br/>
          <input type="checkbox" id="c" /> C <br/>
          <input type="checkbox" id="c++" /> C++ <br/>
          <input type="checkbox" id="c#" /> C# <br/>
          <input type="checkbox" id="html/css" /> HTML/CSS<br/>
          <input type="checkbox" id="java" /> Java <br/>
          <input type="checkbox" id="javaOnAndroid" /> Java On Android <br/>
          <input type="checkbox" id="javascript" /> JavaScript <br/>
          <input type="checkbox" id="objectiveC" /> Objective C <br/>
          <input type="checkbox" id="objectiveCOnIphone" /> Objective C on iPhone <br/>
          <input type="checkbox" id="perl" /> Perl <br/>
          <input type="checkbox" id="php" /> PHP <br/>
          <input type="checkbox" id="python" /> Python <br/>
          <input type="checkbox" id="ruby" /> Ruby <br/>
          <input type="checkbox" id="scala" /> Scala <br/>
        </ul>
      </div>
    </div>
    <div class="row" id="openSourceProjects">
      <label class="heading"><b>Open Source Projects</b></label>
      <div class="content">
        <ul>
          <input type="radio"> yes <br>
          <input type="radio"> no <br>
        </ul>
      </div>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </div>



<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Time To Commit</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.name %></td>
    <td><%= volunteer.email %></td>
    <td><%= volunteer.time_to_commit %></td>
    <td><%= volunteer.company %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
