<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @volunteer.name %>
</p>

<p>
  <b>SID:</b>
  <%= @volunteer.id %>
</p>

<p>
  <b>Submitted time:</b>
  <%= @volunteer.time_submitted %>
</p>

<p>
  <b>Email:</b>
  <%= @volunteer.email %>
</p>

<p>
  <b>Company:</b>
  <%= @volunteer.company %>
</p>

<p>
  <b>Time to Commit:</b>
  <%= @volunteer.time_to_commit %>
</p>

<p>
  <b>Has contributed to open source projects?:</b>
  <%= @volunteer.open_source_projects %>
</p>

<p>
  <b>Languages Interested In:</b>
  <%= @volunteer.languages_interested_in.to_sentence %>
</p>

<p>
  <b>Organizations Interested In:</b>
  <%= @volunteer.orgs_interested_in.to_sentence %>
</p>

<p>
  <b>Causes Interested In:</b>
  <%= @volunteer.causes_interested_in.to_sentence %>
</p>

<p>
  <b>Skills:</b>
  <%= @volunteer.skills.to_sentence %>
</p>





<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
